/htdocs/bitrix/
/htdocs/upload/
/htdocs/___dev/
/htdocs/.htaccess
/htdocs/data_time.php
/htdocs/robots.txt
/htdocs/*.xml
/htdocs/*.log
/htdocs/*.txt
/htdocs/*.sql
/htdocs/*.txt
/htdocs/bx_1c_import.php
/htdocs/urlrewrite.php
/htdocs/restore.php
/htdocs/logs/
/htdocs/dengionline_testearg8eragrae4gzegHAREerfgZvrg.php
*.log
README.md
htdocs/local/php_interface/dbconn.php
htdocs/upload
